* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  display: flex;
  align-items: center;

  background-color: #000000;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  background-color: white;
  position: relative;
  float: right;
  margin-right: 10px;
  color: #000000;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.note-text-form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.note-text-form input,
.note-text-form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.note-text-form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.register{
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form{
  margin-top: -7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.login-register-header{
  position: absolute;
  top: 20%;
  font-size: 2rem;
}
.register-form input
{
    font-size:25px;
    text-indent: 10px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
}
.register-form input:focus{
  outline: 1px;
  border-color: rgb(199, 199, 255);
}
.register-form button{
    font-size: 1.2rem;
    padding: 5px 15px 5px 15px;
    border-radius: 12px;
    border-width: 0px;
    background-color: rgb(0, 0, 0);
    color: #eee;
    transition: all 0.1s ease-in-out;
   
}
.register-form button:hover{
  cursor: pointer;
  background-color: #9b9b9b;
  box-shadow: 1px 1px 2px rgb(128, 128, 128) ;
  color: #000000;
}
.login-link{
  margin-top: 10px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 400;
  color: black;
  transition: all 0.1s ease-in-out;
}
.login-link:hover{
  cursor: pointer;
  color: #9b9b9b;
}

.welcome{
  text-align: center;
  margin-top: 1%;
}

.logout{
  position: absolute;
  right: 5%;
  text-decoration: none;
  z-index: 10;
  color: white;
  transition: all 0.1s ease-in-out;
}
.logout:hover{
  color: #9b9b9b;
}

